---
title: Blog
layout: default
---

<h1>
# Welcome to my blog
</h1>

<p>
I'm glad you are here. I plan to talk about competitive programming and the sorts, lol
</p>



<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
 <!––
<div class="col-md-8">
		<h1>Posts</h1>

		{% for post in site.posts %}

		<hr>

		<article>
			<div class="row">
				<h4 class="card-title col-md-8">
					<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
				</h4>
				<div class="col-md-4 text-right text-muted">
					<i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}
				</div>
			</div>

			<p class="excerpt">
				{{ post.excerpt | strip_html | truncatewords: 100 }}
			</p>
			<a href="{{ post.url | relative_url }}">Read More &raquo</a>
		</article>
		{% endfor %}
	</div>

 ––> 
